* {
    box-sizing: border-box;
}

html, body{
    background: rgba(255, 249, 251, 0.94);
    font-family: 'Lato', sans-serif;
    height:100%;
}
.wrapper{
    max-width:850px;
    width: 100%;
    margin: 0 auto;
    height:100%;
    display:table;
}
/* Logo */
.logo{
    width:300px;
    height:124px;
    margin: 20px auto;
    background: url(https://seeklogo.com/images/W/wrc-fia-world-rally-logo-C417DA361E-seeklogo.com.png) no-repeat center;
}
/* Menu */
.menu {
    background: #2c2e2e;
    font-size:16px;
}
.menu ul {
    list-style-type: none;
    text-align:center;
}
.menu li {
    display:inline-block;
}
.menu a{
    display:block;
    padding:20px;
    color:white;
    text-decoration: none;
}
.menu a:hover{
    background: #1b1c1c;
}
.menu li ul {
    position: absolute;
    display: none;
    width: inherit;
    background: #383b3b;;
}
.menu li:hover ul {
    display: block;
}
.menu li ul li {
    display: block;
}

/* Main */
.main{
    width:75%;
    background: #beb6bb;
    padding:5%;
    text-align:center;
}
.main p{
    color: #000000;
    font-size:1em;
    margin-bottom:20px;
}
.main h1{
    font-size:20px;
    color:#383b3b;;
    margin-bottom:20px;
}
/* Foto Galerijas */
.main .photo ul img {
    width:230px;
    height:180px;
    margin: 15px auto;
}
.main .photo ul li {
    display: inline-block;
}
/* Kolonnas */
.col-wrapper{
    display:table;
}

.right h1{
    font-size:18px;
    color: #191b1b;
    margin-bottom:20px;
    margin-top:20px;
    text-align:center;
}
.right{
    width:25%;
    padding:2%;
    background: #a193be;
    text-align:center;
}
.main, .right{
    display: table-cell;
}

/* Partneri */

.right ul li {
    display: block;
    margin: 20px auto 10px auto;
}
.right img{
    width: 100px;
    height: 100px;
    margin: 15px auto;
}

/* Footer */
footer{
    clear:both;
    padding:25px;
    background: #1b1c1c;
}
footer p{
    font-size:14px;
    color:white;
    text-align:center;
}

/* Priekš telefoniem */
@media screen and (max-width : 1024px) {
    .main, .right{
        width:100%;
        display:block;
    }
    .right ul li{
        display:inline-block;
    }
}

